/* WELCOME SECTION */
.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url("../images/photo-by-fauxels-from-pexels.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding-top: 55vh;
    color: var(--ochre-text-color);
}

.welcome-section h1 {
    animation: moveToLeft 2s;
}

.welcome-section h2 {
    animation: moveToRight 2s;
}


/* ABOUT SECTION */
.about-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--very-light-ochre-bg-color);
}

.about,
.toolkit {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
}

.about img {
    width: 16rem;
    border-radius: 50%;
    margin-bottom: 2em;
    box-shadow: 0 0 0.7rem var(--dark-choco-bg-color);
}

.toolkit-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.toolkit-items li {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    margin: 0 0.5em 0.5em 0.5em;
    height: 9.5em;
    width: 7em;
}

.toolkit-items img {
    height: 96px;
    width: 96px;
}


/* PORTFOLIO SECTION */
.portfolio-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--light-choco-bg-color);
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project {
    position: relative;
    display: flex;
    flex-direction: column;
    /* background-color: var(--very-light-ochre-bg-color); */
    background-image: url("../images/pexels-evie-shaffer-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 20rem;
    width: 45%;
    padding: 2em; 
    margin: 1em;  
    border-radius: 1em;
    box-shadow: 0.3rem 0.2rem 1rem var(--dark-text-color); 
}

.project-header {
    display: flex;
    flex-direction: column-reverse;
}

.project-buttons {
    display: flex;
    justify-content: flex-end;
}

.project-buttons a {
    margin: 0 0 1em 2em;
    padding: 1em;
}

.project-buttons a:hover {
    box-shadow: 0 0 0.5rem var(--dark-choco-bg-color);
    border-radius: 2em;
    transform: scale(1.05);
}

.project p {
    margin-bottom: 1em;
}

.project ul {
    position: absolute;
    display: flex;
    bottom: 2rem;
    left: 2rem;
}

.project li {
    margin-right: 2em;
    color: var(--light-choco-bg-color);
}


/* CONTACT SECTION */

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--very-light-ochre-bg-color);
}

.contact-items {
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.contact-items a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4em;
    height: 5em;
    width: 6.5em;
    text-shadow: 0.05rem 0.05rem 0.1rem var(--dark-text-color); 
}

.contact-items a:hover {
    transform: scale(1.1);
}
