/* NAVIGATION */
header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-bg-color);
    height: 3.5rem;
    width: 100%;
    z-index: 1;
}

header a {
    color: var(--light-ochre-text-color);
    margin: 0 1rem;
}

header a:hover {
    color: var(--very-light-ochre-bg-color);
}

.nav-menu {
    display: flex;
}

.hamburger-lines {
    display: none;
}

.hamburger-checkbox {
    display: none;
}
